*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	background-color: #fff;
	font-size: 14px;
	color: #333333;
	font-family: "arial, helvetica, sans-serif";
}
.w{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: " ";
	clear: both;
}
.top{
	height: 38px;
	line-height: 38px;
 background-color: #e1f3fd;
 font-size: 12px;
 min-width: 1200px;
}
.top li{
	float: left;
	padding: 0 11px;
	list-style: none;
	position: relative;
}
.top li:hover{
	background-color: gainsboro;
}
.top li:hover .sub-nav{display: block;
}

.top li span.fa{color:#D82936;
	
}
/*二级菜单*/
.top .sub-nav{
	position: absolute;
	top: 38px;
	left: 0px;
	background-color: gainsboro;
	width: 78px;
	text-align: center;
	display: none;
	z-index: 9999;
	
}
.top .sub-nav li{
	padding: 0;
	width: inherit;
}
.top .sub-nav li:hover{
	background-color: #e1f3fd;
}
.top .sub-nav li:hover a{
	color: #D82936;
}
.top li:hover span.fa:before{
	content: "\f106";
}


/*右微信*/
.top .wechat li{
	height: 38px;
padding-top: 6px;
box-sizing: border-box;
	
}


.top .wechat li:hover{
	background-color: #e1f3fd;
	
}
.top .wechat li:hover .qrcode{
	display: block;
}
.top .qrcode{
	width: 110px;
	height: 110px;
	position: absolute;
	top: 38px;
	right: 0;
	display: none;
}

.ner{
	height: 114px;
	/*background-color: red;*/
	padding: 22px 0;
	box-sizing: border-box;
}
.ner .logo{height: 70px;
	
}

.ner .logo img{height: 70px;
	
}
.ner .slogan{margin-left: 32px;
line-height: 70px;
font-size: 16px;
	
}
.ner ul{line-height: 70px;
list-style: none;
	
}
.ner ul li{
	float: left;
	font-size: 16px;
	margin-right: 36px;
}
.ner li span.fa{
	font-size: 30px;
	color:#efc15f;
	margin-right: 8px;
}
.ner li.phone-400{
	font-size: 18px;
}
.ner li.phone-400 span{
	font-size: 25px;
	color: #dd2527;
}
/*轮播图*/
.banner{
	height: 350px;
	background-color: blue;
	position: relative;
}
.banner ul{
	list-style: none;
}
 .banner ul li{
 		width: 100%;
 		height: 350px;
 		position: absolute;
 		top: 0;
 		left: 0;
 		display: none;
 }
 .banner ul li:first-child{
 	display: block;
 }

 .banner ul li img{
 	height: inherit;
width: inherit;
 }
.banner .points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.banner .points span{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 6px;
	border-radius: 50%;
	border: solid 1px #FFFFFF;
}
.banner .points span.active{
	border-color:#de2824;
	background-color: #de2824;
}
.class{
	margin-top:28px;
	height: 450px;
	/*background-color: yellow;*/
	position: relative;
	
}
.class > div{
	height: inherit;
}
.class .class-news{
	margin-left:240px;
	margin-right:228px;
}
.class-news .hott1{
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid gainsboro;

}
.class-news .hott1 li{
	float: left;
	padding: 0 20px;
    list-style: none;
}
.class-news .hott2 .class1{
	height:100px ;
	width: 365px;
	padding: 16px 22px;
	box-sizing: border-box;
}
.class-news .hott2 .tutu{
	margin-right:24px ;
}
.class-news .hott2 .tutu img{
	width: 50px;
	height: 50ox;
	border-radius: 50%;
}
.class-news .hott2 .tutu p{
margin: 0;
	padding-left:9px;
	color: darkgray;
	font-size: 12px;
}
.class-news .hott2 .zizi p{
	margin:0 ;
	padding: 0;
	font-size: 12px;
	color: darkgray;
}
.class-news .hott2 .zizi p:first-child{
	margin-bottom: 10px;
	height: 20px;
}
.class-news .hott2 .zizi a{
	color: #333333;
	margin: 0;
	font-size: 14px;
}
.class-news .hott2 .zizi a:hover{
	color: red;
}
.class .class-list{
	width: 220px;
	/*background-color: red;*/
	position: absolute;
	left: 0;
	top: 0;
}

.class .class-hot{
	width: 200px;
	background-color: orange;
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
}
.class-hot .coo1{
	height: 40px;
	background-color: red;
	line-height: 40px;
	text-align: center;
	
}
.class-hot .coo2{
	width: inherit;
	height: 130px;
	background-color: blue;
}
.class-hot .coo3{
	margin-top: 10px;
	width: inherit;
	height: 130px;
	box-sizing: border-box;
}
.class-hot .coo4{
margin-top: 10px;
	width: inherit;
	height: 130px;
	background-color: blue;
	
}
.class .class-list .category{
	font-size: 16px;
	
}
.class .class-list .category li{
	height: 41px;
	line-height: 41px;
	box-sizing: border-box;
	border-left: solid 1px #d8d8d8;
	border-right:solid 1px #d8d8d8 ;
	border-bottom: solid  1px #d8d8d8;
	list-style: none;
	padding-left: 18px;
}

.class .class-list .category li:first-child{
	border-left:none;
	border-right:none;
	background-color: #dd2726;
	color: #FFFFFF;
}
.class .class-list .category li:first-child span.fa{
	margin-right: 18px;	
	color: #fff;
	font-size: 18px;
	margin-left: 0;
}
.class .class-list .category li span{
	font-size: 10px;
	margin-left: 26px;
	color: #959ba9;
}
.class .class-list .category li.hover{
	background-color: gainsboro;
	color:#d82936;
}
.class .sub-list{
	height: 410px;
	width: 620px;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	top: 41px;
	left: 220px;
	background-color: green;
	display: none;
}

.class .sub-list ul{
	display: none;
}

.class .sub-list li:nth-child(2n+1){
	float: left;
}
.class .sub-list li:nth-child(2n){
	float: right;
}

.class .sub-list li{
	list-style: none;
    width: 270px;
    padding-left: 1em;
    box-sizing: border-box;
    height: 42;
    line-height: 42px;
    border-top:1px solid gray;
    background: none;
    font-size: 12px;
    color: #999;
}

.sub-list li:hover{
	color:#d82936;
}

/*最新开班*/
.class2{
	/*background-color: yellow;*/
	margin-top: 28px;
}
.class2 .eeff22{
	height: 50px;
	/*background-color: black;*/
	line-height: 50px;
	border-bottom:solid 1px groove ;
	position: relative;
}

.class2 .class-fies{
	width: 248px;
}
.class2 .tab ul{list-style: none;
	
}
.class2 .tab ul li{
	float: left;
	padding: 0 16px;
}
.class2 .tab ul li:first-child{
	color: #D82936;
}
.class2 .liner{
	width: 100px;
	height: 2px;
	position: absolute;
	background-color: #db272a;
	left: 241px;
	bottom: -1px;
}
.class2 .class-info{
	height: 300px;
	/*background-color: yellow;*/
}
.class2 .class-info ul{
	display: none;
}
.class2 .class-info ul:first-child{
	display: block;
}

.class2 .class-info li{
	float: left;
	list-style:none;
	width: 270px;
	height: 300px;
	margin-right: 40px;
	/*background-color: blue;*/

}

.class2 .class-info ul li:last-child{
	margin-right: 0;
}
.class2 .class-info .class-432{
	margin-top:20px ;
}
.class2 .class-info .class-432:hover{
	height: 270px;
	width: 270px;
	border: 1px solid gainsboro;

}
.class2 .class-info .class-432 p{
	margin-bottom: 20px;
	font-size: 16px;
}
.class2 .class-info .class-432 span a{
	color: #A9A9A9;
	font-size: 12px;}

.class2 .class-info .class-432 img{
	height: 180px;
    width: 270px;

	
}


/*表格*/
.table{
	margin-top: 28px;
}
.table table{
	width: 570px;
	font-size: 14px;
	float: left;
}
.table table:first-child{
	margin-right: 60px;
}

.table table a{
	color:#51B8F1 ;
}

.table .zilis{
	color: red;
}
.table table tr td{
	text-align: center;
	height: 34px;
	line-height: 34px;
}
.table tr td:first-child{
	text-align: left;
}
/*滚动新闻*/
.news{
	height: 34px;
	line-height: 34px;
	position: relative;
	overflow: hidden;

}
.news .register{
	width: 110px;
	height: 34px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px red solid;
	box-sizing: border-box;
	
}

.news ul.news-list2{
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	width: 20000px;
}
.news ul.news-list2 li{
	float: left;
	margin-right: 26px;
}



/*师资力量*/
.szll{
	height: 320px;
	margin-top: 28px;
}
.szll .szll-tou{
	height: 50px;
	line-height: 50px;
}
.szll .szll-xia{
	height: 270px;

}
.szll .szll-xia li{
	float: left;
	list-style:none;
	width: 270px;
	height: 270px;
	margin-right: 30px;

}

.szll .szll-xia ul li:last-child{
	margin-right: 0;
}
.szll .szll-xia .zhaop {
	margin-top: 16px;
}
.szll .szll-xia .zhaop img{
	width: 270px;
	height: 180px;
}
.szll .szll-xia .zhaop p{
	font-size: 16px;
	margin-top: 20px;
	margin-bottom:5px;
}
.szll .szll-xia .zhaop a{
	font-size: 12px;
	color: #999999;
}




.xxzp{
	/*background-color: yellow;*/
	margin-top: 28px;
}
.xxzp .eeff33{
	height: 50px;
	/*background-color: black;*/
	line-height: 50px;
	border-bottom:solid 1px groove ;
	position: relative;
}

.xxzp .xxzp-fies{
	width: 248px;
}
.xxzp .xxzp-tab ul{list-style: none;
	
}
.xxzp .xxzp-tab ul li{
	float: left;
	padding: 0 16px;
}
.xxzp .xxzp-tab ul li:first-child{
	color: #D82936;
}
.xxzp .liner{
	width: 100px;
	height: 2px;
	position: absolute;
	background-color: #db272a;
	left: 241px;
	bottom: -1px;
}
.xxzp .xxzp-info{
	height: 300px;
	/*background-color: yellow;*/
}
.xxzp .xxzp-info ul{
	display: none;
}
.xxzp .xxzp-info ul:first-child{
	display: block;
}

.xxzp .xxzp-info li{
	float: left;
	list-style:none;
	width: 270px;
	height: 300px;
	margin-right: 40px;
	/*background-color: blue;*/

}

.xxzp .xxzp-info ul li:last-child{
	margin-right: 0;
}
.xxzp .xxzp-info .class-4355{
	margin-top:20px ;
}
.xxzp .xxzp-info .class-4355:hover{
	height: 270px;
	width: 270px;
	border: 1px solid gainsboro;

}
.xxzp .xxzp-info .class-4355 p{
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 5px;
}
.xxzp .xxzp-info .class-4355 span a{
	color: #A9A9A9;
	font-size: 12px;}
	

.xxzp .xxzp-info .class-4355 img{
	height: 180px;
    width: 270px;

	
}
.jymx{
	margin-top: 28px;
	/*background-color: red;*/
	height: 278px;
}
.jymx .jymx-tou{
	height: 50px;
	/**background-color: black;*/
	line-height: 50px;
	font-size: 18px;
}
.jymx .jymx-tou span a{
	font-size: 14px;
}
.jymx .jymx-tup{
	background-color:#eaf7fd;
	height: 200px;
margin-top: 18px;

}
/*就业*/
.jymx .jymx-tup ul li{
	list-style: none;
}
.jymx .jymx-tup img{
	width: 74px;
	height: 74px;
	border-radius:50% ;
}
.jymx .jymx-tup p{
	padding-left: 16px;
}
.jymx .wzjshao{
	width: 213px;
margin-right: 70px;
}
.jymx .wzjshao .p1{
	margin-bottom: 16px;
}
.jymx .wzjshao .p3{
	margin-top: 16px;
}


/*荣誉*/
.ffry{
	margin-top: 28px;
	/*background-color: red;*/
	height: 490px;
}


.ffry .ffry-tou{
	height: 42px;
	/*background-color: blue;*/
	line-height: 42px;
}

.ffry .ffry-tup{
	height: 448px;
	/*background-color: orange;*/
}
.ffry .ffry-tup li{
	height:180px;
	width: 270px;
	/*background-color: red;*/
	float: left;
	margin:14px;
	list-style: none;
	text-align: center;
}


.ffry .ffry-tup .tupian1 img{
	width: 270px;
	height: 170px;
}
/*校区分布*/
.school {
	margin-top: 26px;
	height: 220px;
}

.school>p {
	font-size: 22px;
	color: #333;
	line-height: 50px;
}

.school ul li {
	width: 246px;
	height: 44px;
	margin: 27px;
	float: left;
	list-style: none;
}

.school ul li span {
	float: left;
	height: 44px;
}

.school ul li span:first-child {
	border-right: 1px #ccc solid;
	padding-right: 10px;
	line-height: 44px;
	font-size: 18px;
}

.school ul li span:last-child {
	padding-left: 20px;
}

.school ul li span p:first-child {
	font-size: 14px;
	line-height: 1.8em;
	color: #515151;
}

.school ul li span p:last-child {
	font-size: 12px;
	color: #939393;
}




.hzqye{
	margin-top:26px ;
	height: 150px;
	/*background-color: red;*/
}

.hzqye .hzqye-tou{
	height: 42px;
	/*background-color: oldlace;*/
	line-height: 42px;
	font-size: 18px;
}
.hzqye .hzqye-tupa{
	margin-left: 20px;
	
}
.hzqye .hzqye-tupa li{
	background-color: #0000FF;
	width: 170px;
	height: 80px;
	float: left;
	list-style: none;
	margin: 10px;
	margin-top:20px;
	
}


.footer{
	height: 649px;
	margin-top: 38px;
	background-color: black;
}

.footer .kong1{
	height: 50px;
	
}
.footer .neirou1{
	height: 44px;
	
}
.footer .neirou1 li{
	float: left;
	list-style: none;
	width: 199.19px;
	height: 44px;
	background-color: blu;
	
}
.footer .neirou1 li img{
	margin-right: 10px;
}
.footer .neirou1 li span a{
	font-size: 12px;
	line-height: 22px;
	color: #999999;
}
.footer .kong2{
	height: 41px;
	border-bottom: 1px #dddddd solid;
	box-sizing: border-box;
}
.footer .zhongxin{
	padding: 30px;
	background-color: red;
	height: 310px;
}
.footer .zhongxin li {
	float: left;
	list-style: none;
}
